.aboutBackground {
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612188510_187-p-fioletovii-fon-podsvetka-214.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}
.aboutWrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
  box-shadow: -1px 0px 10px 10px hsla(0, 0%, 0%, 0.401);
  display: flex;
  margin-top: 40px;
}
