.containerUsers {
  background-image: url("/src/img/loft-background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.basketWrapper {
  display: flex;
  width: 1220px;
  margin: 0 auto;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 30px;
}

.CardContainer {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column-reverse;
  align-items: center;
}
