.wrapperHome {
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612188510_187-p-fioletovii-fon-podsvetka-214.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

.text {
  width: 1220px;
  height: 350px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
  color: #ffffff;
  border: 1px solid #646a74;
  border-radius: 50px;
  background: rgba(1, 2, 0, 0.3);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.text p {
  width: 700px;
  margin: 0 auto;
  word-spacing: 8px;
}

.textWrapper {
  padding-top: 40px;
}
