.containerBasket {
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612188510_187-p-fioletovii-fon-podsvetka-214.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}

p {
  color: wheat;
  font-size: large;
}

.wrapperBasket {
  width: 1220px;
  margin: 0 auto;
  min-height: 600px;
  height: 100%;
}

.mainText {
  color: rgb(255, 255, 255);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  padding-top: 20px;
}

.tagInformation {
  display: flex;
  gap: 30px;
  width: 770px;
  margin: 30px;
  justify-content: space-between;
  border-bottom: 2px solid whitesmoke;
  border-left: 2px solid whitesmoke;
  padding-left: 20px;
  padding-right: 20px;
}

.tagInformation p {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.cartItem {
  display: flex;
  gap: 30px;
  width: 770px;
  margin: 30px;
  justify-content: space-between;
}

.totalAmount {
  width: 1220px;
  text-align: right;
}
.totalAmount p {
  color: whitesmoke;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.cartControls button {
  box-shadow: inset 0 1px 1px rgba(111, 55, 125, 0.8),
    inset 0 -1px 0px rgba(63, 59, 113, 0.2), 0 9px 16px 0 rgba(0, 0, 0, 0.3),
    0 4px 3px 0 rgba(0, 0, 0, 0.3), 0 0 0 1px #150a1e;
  background-image: linear-gradient(#0d1d66, #7700ff);
  text-shadow: 0 0 21px rgba(223, 206, 228, 0.5), 0 -1px 0 #311d47;
}

.cartControls p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: whitesmoke;
}
