.ModalWrapper {
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612188510_187-p-fioletovii-fon-podsvetka-214.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
}



.containerProduct {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 10px;
  min-height: 700px;
  height: 100%;
  width: 1220px;
  margin: 0 auto;
  box-shadow: -1px 0px 12px 12px hsla(0, 1%, 55%, 0.3);
  margin-top: 30px;
}

.cardProduct {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  gap: 30px;
}

.cardProduct img {
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.cardProduct img:hover {
  transform: scale(1.05);
}

.title {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 500px;
}

.titlePrice {
  font-size: 24px;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

